/*CSS OFERTAS*/
.containersecciones {
    width: 100%; /* Establece el ancho al 100% */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
    padding: 0; /* Elimina el relleno */
    margin: 0; /* Elimina el margen */
    h2 p{
        width: 100%; /* Establece el ancho al 100% */
        text-align: justify; /* Justifica el texto dentro del contenedor */
    }

}